

div {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;

    p {
        font-family:'historybook';
        margin-left: 20px;
    }    

}

span.title1 {
    color:#7B68EE;
    float: right;
    font-size: 25px;
}